.content {
  display: flex;
  border: red 5px solid;
  padding-bottom: 300px;
}

.formulary {
  border: black 5px solid;
  height: 500px;
  width: 500px;
  max-height: 550px;
  max-width: 550px;
  padding: 20px;
}

img {
  border: greenyellow 5px solid;
  height: 225px;
  width: 250px;
}
